<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<table class="table">
    <caption><a th:href="@{/user/toAddUser}">添加用户</a></caption>
    <thead>
    <tr>
        <th>序号</th>
        <th>昵称</th>
        <th>手机</th>
        <th>邮箱</th>
        <th>地址</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${userList}">
        <td th:text="${userStat.count}"></td>
        <td th:text="${user.nick}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.address}"></td>
        <td>
            <a th:href="@{'/user/toUpdate?id='+${user.id}}">修改</a>
            <a th:href="@{'/user/delete?id='+${user.id}}">删除</a>
        </td>
    </tr>
    <tr style="text-align: center">
        <td colspan="6">
            <span th:if="${curPage <= 1}">
                首页
                上一页
            </span>
            <span th:if="${curPage > 1}">
                <a th:href="@{/index}">首页</a>
                <a th:href="@{'/index?curPage='+${curPage-1}}">上一页</a>
            </span>
            <span th:if="${curPage == totalPage}">
                下一页
                尾页
            </span>
            <span th:if="${curPage < totalPage}">
                <a th:href="@{'/index?curPage='+${curPage+1}}">下一页</a>
                <a th:href="@{'/index?curPage='+${totalPage}}">尾页</a>
            </span>
        </td>
    </tr>
    </tbody>
</table>
<p th:each="user:${userList}">
    <span th:text="${user.id}"></span>
    <span th:text="${user.nick}"></span>
    <span th:text="${user.phone}"></span>
    <span th:text="${user.email}"></span>
    <span th:text="${user.address}"></span>

</p>

</body>
</html>